@model MyShop.Core.ViewModel.CartSummaryViewModel
<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index", "ShoppingCart")">Cart (@Model.CartCount)</a></li>
    <li><a href="@Url.Action("Index", "ShoppingCart")">@String.Format("{0:c}", @Model.CartTotal)</a></li>
</ul>